.listItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: calc(50% - 30px);
  float: left;
  margin-bottom: 30px;

  .listItemContainer_imgSrcContainer {
    width: 100%;
    flex: 1;
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .listItemContainer_imgSrc {
      width: 100%;
    }
  }

  .listItemContainer_footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .listItemContainer_footerLeft,
    .listItemContainer_footerRight {
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #999;
      overflow: hidden;
    }

    .listItemContainer_footerLeft_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .listItemContainer_footerRight_text {
      margin-left: 10px;
    }
  }
}
