.index {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 120px;
  .tabsPane {
    padding-top: 20px;
    min-height: 100%;
    background: #fff;
  }
}
