.index {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 120px;
  .index_filter {
    padding: 0 30px;
  }
  .index_scrollview {
    height: 'calc(100vh - 200px)';
    padding: 0 30px 120px;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 112px;
    background: #ffffff;
    border-radius: 16px;
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 30px;
    padding: 30px;
    .itemIcon {
      width: 20px;
      height: 20px;
      border: 4px solid #aaaaaa;
      transform: rotateZ(45deg);
      border-left: none;
      border-bottom: none;
    }
  }
  .AtGrid {
    background: #fff;
    margin-bottom: 30px;
  }
}
